---
title: About
---

<div class="container">
    <div class="row mb-4">
        <div class="col">
            <p>
                Wireless Sensing and Embedded Systems Lab is a systems research group in the Electrical and Computer
                Engineering Department at Carnegie Mellon University that focuses on the platforms, protocols and
                processing techniques that support networked embedded systems. We are interested in a broad range of
                topics including: operating system design, wireless networking, sensing technologies, real-time
                scheduling, time synchronization and localization. We apply our work to applications such as building
                energy management, micro-grid management, critical infrastructure monitoring, large-scale environmental
                sensing and mobile computing.
             </p>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col">
           <h2>Sponsors</h2>
           <ul class="sponsor-list row">
               <li><img alt="Bosch Logo" src="/img/sponsors/bosch.png"></li>
               <li><img alt="NIST Logo" src="/img/sponsors/nist.png"></li>
               <li><img alt="NSF Logo" src="/img/sponsors/nsf.png"></li>
               <li><img alt="SRC Logo" src="/img/sponsors/src.png"></li>
               <li><img alt="DOE Logo" src="/img/sponsors/doe.png"></li>
               <li><img alt="ARPA-E Logo" src="/img/sponsors/arpa-e.png"></li>
               <li><img alt="Bridgestone Logo" src="/img/sponsors/bridgestone.png"></li>
               <li><img alt="Texas Instruments Logo" src="/img/sponsors/ti.png"></li>
           </ul>
           <p><strong>Like our research? Consider becoming a lab sponsor!</strong><br/>
           Corporate collaborators have unique access to Wireless Sensing and Embedded Systembs Lab researchers and 
           research, including early previews of new technologies, sponsor-exclusive workshops and demo days. There 
           are also opportunities to fund particular research themes and projects in the lab, which can include rights 
           to resulting intellectual property. Please contact Professor Rowe for more information. Email us with more 
           information.
           </p>
        </div>
    </div>
    <h2>Team</h2>
    <div class="row team-list">
        {% assign memberPriorities = site.team |  group_by: 'priority' | sort: 'name' %}
        {% for priority in memberPriorities %}
            {% assign members = priority.items | sort: 'lastname' %}
            {% for member in members %}
            <div class="border-container">
                <div class="team-item">
                    <img alt="{{ member.firstname }} {{ member.lastname }}" src="{{ member.image }}">
                    <strong>{{ member.firstname }} {{ member.lastname }}</strong><br/>
                    {{ member.title }},<br/>
                    {{ member.affiliation }}<br/>
                    {% if member.website %}
                        <a href="{{ member.website }}" target="blank">Website</a>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        {% endfor %}
    </div>
</div>

