<footer class="container mb-3">
    <div class="row">
        <div class="col d-flex">
            <a href="https://www.ece.cmu.edu" target="_blank">
                <img alt="ECE Logo" src="/img/ece-logo.png"/>
            </a>
            <a href="https://www.cmu.edu" target="_blank">
                <img alt="CMU Logo" src="/img/cmu-logo.png"/>
            </a>
            <div class="ml-4 pt-1">&copy;2019<br/>
                Wireless Sensing and Embedded Systems Lab<br/>
                Electrical and Computer Engineering Department<br/>
                Carnegie Mellon University
            </div>
        </div>
    </div>
</footer>