  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ page.description | default: site.description | smartify }}">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    {%- if page.title -%}
      {{ page.title | smartify }} · {{ site.title | smartify }}
    {%- else -%}
      {{ site.title | smartify }} · {{ site.description | smartify }}
  {%- endif -%}
  </title>
  <link rel="canonical" href="{{ site.url | append: page.url }}">
{% include stylesheet.html %}
{% include favicons.html %}
{% include analytics.html %}
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <meta name="theme-color" content="#ffffff">
