<!DOCTYPE html>
<html lang="en">
<head>
{% include head.html %}
</head>
<body>
{% include header.html %}
{% assign projects = site.projects | sort: 'priority' %}
<div class="container">
    <div class="row mb-2">
        <div class="col">
            Projects / {{ page.title }}
        </div>
        <div class="col">

        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="blue-border"></div>
        </div>
    </div>
    <div class="row pb-5">
        <div class="col-md-9 project-image-large">
            <img src="{{page.image}}"/>
        </div>
        <div class="col-md-3 pt-5">
            <h2>{{ page.title }}</h2>
            {{ content }}
        </div>
    </div>
    <div class="row my-5">
        {% for project in projects %}
            {% if project != page %}
            <div class="col-md-4">
                <div class="project-item boxed">
                    <a href="{{ base.url }}{{ project.url }}">
                        <img src="{{ project.image }}"/>
                        <div class="project-title">
                            {{ project.title }}
                        </div>
                    </a>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="row">
        <div class="col" id="news-container">
        {% capture news_include %}{% include news.md %}{% endcapture %}
        {{ news_include | markdownify }}
        </div>
    </div>
</div>
{% include footer.html %}
{% include scripts.html %}
</body>
</html>

